<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.avatar.url(:book_show), class: "book_show" %>
  </div>
  <div class="col-md-8">
    <h2><%= @book.title %></h2>
    <h3><%= @book.author %></h3>
    <%= puts rated_by_user?(@book) %>
    <% if rated_by_user?(@book) %>
      <%= rating_for @book, 'book_rating', half_show: true %>
      <%= "Based on #{reviews_count(@book)} reviews" %>
    <% else %>
      <%= rating_for @book, 'book_rating', star: 5, disable_after_rate: true, enable_half: true, half_show: true %>
    <% end %>
    <h4>Category: <%= @book.category.name %></h4>
    <p><%= @book.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div>
      <%= render @book.reviews %>
      <% if user_signed_in? && @book.user_id != current_user.id%>
        <%= link_to "Add Comment", new_book_review_path(@book) %>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
    <%= link_to 'Back', books_path %>
    | <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to "Delete", book_path(@book), method: "delete", data: { confirm: "Are you sure?" } %>
  <%end%>
<%end %>
